@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  padding:0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(300deg,rgb(0, 204, 255),#138bee);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  color: white;
  padding:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_weather_icon {
  font-size: 200px;
}

.input {
  width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border:1px solid rgba(255, 255, 255, 0.548);
  border-radius: 5px;
}

.input button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  color: white;
  padding:15px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}

.input input {
  width: 100%;
  padding:10px;
  color:white;
  font-size:16px;
  background-color: transparent;
  border: none;
  outline: none;
}

.input input::placeholder {
  color:rgba(255, 255, 255, 0.548);
  font-family: "Montserrat", sans-serif;
}

.input:focus-within {
  outline: 1px solid #fff;
}

.header_heading {
  font-size: 40px;
  font-weight: 600;
}

.header_date {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.main_weather {
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:70px;
}

.divider_vertical {
  width: 5px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.747);
}

.main_weather_more {
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  gap:50px;
}

.main_weather_detail {
  display: flex;
  flex-direction: column;
}

.main_weather_temp_value {
  font-size: 20px;
  font-weight: 600;
}


.main_weather_temp_unit {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.705);
}

.main_weather_box {
  display: flex;
  align-items: center;
  gap:20px;
}

.main_weather_temp {
  font-size: 100px;
}

.daily {
  border-top: 3px solid rgba(255, 255, 255, 0.411);
  margin-top:40px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:50px;
  flex-wrap: wrap;
}

.daily_weather_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.daily_weather_icon {
  font-size: 50px;
}

.daily_weather_temp {
  font-size: 16px;
  font-weight: 600;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media  (max-width: 980px) {
  .main_weather_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
  }
  body {
    width: 100%;
    height: 100%;
    padding:10px;
  }

  .app {
    padding:20px;
  }
  .input {
    width: 300px;
  }
}